@model CSAppBE.Web.Models.CommunicationViewModel

@{
    ViewData["Title"] = "E-Ventanilla";
}
<div class="text-center">
    <h1><i class="fas fa-envelope-open-text"></i></h1>
    <hr class="default-hr" />
</div>

<form method="post">
    @Html.HiddenFor(model => model.FileName)
    @Html.HiddenFor(model => model.Data)
    <table class="table text-center">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Subject)
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.Subject)
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table text-center">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Message)
                </th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.Message)
                </td>
            </tr>
        </tbody>
    </table>
    <div class="text-center">
        @if (Model.FileName != string.Empty)
        {
            <input type="submit" value="Descargar Adjunto" class="btn btn-dark" />
        }
    </div>
</form>
